<div class="container">
  <h1 class="mb-4">Compra Fallida</h1>
  <div class="alert alert-success" role="alert">
    <p class="mb-0">Se ha enviado un correo a tu dirección registrada con los detalles de los productos.</p>
  </div>
  <div class="alert alert-success" role="alert">
    <p class="mb-0">Porfavor vuelva a intentar cuando el(los) productos tengan Stock disponible</p>
  </div>
