<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <title>Inicio</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
  <div class="container">

    <h1 class="mb-4">Direccion de correo no se encuentra registrada</h1>
    <div class="alert alert-danger" role="alert">
      <h6>{{email}}</h6>
    </div>
    <h3 class="mb-4">porfavor registrese</h3>
    <div class="text-right">

      <form action="/" method="GET" style="display: inline;">
        <button type="submit" class="btn btn-link">
          <i class="fas fa-home fa-2x"></i>
          <span class="badge badge-danger"></span>
          <span>Home</span>
        </button>
      </form>

    </div>
  </div>
</body>

</html>